html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: teal;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  margin: auto;
  padding: 1rem 3rem;
  float: left;
}

aside {
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem 0;
}

.asideButton {
  width: 100%;
  margin: 0 auto;
}

.btn-primary {
  padding: 0.5rem;
  background-color: #003893 !important;
  border-color: #003893 !important;
}

.body-container {
  min-height: 90vh;
}

@media only screen and (max-width: 600px) {
}
