html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: teal;
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  float: left;
  padding: 3rem 0;
  /* margin: 0 auto; */
  /* padding: 0.5rem 2rem; */
}

aside {
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3rem 0 0 0;
}

.asideButton {
  width: 100%;
  margin: 0 auto;
}

.btn-primary {
  padding: 0.5rem;
  background-color: #003893 !important;
  border-color: #28a745 !important;
}
.btn-linkedIn {
  background-color: #0e76a8 !important;
}
.button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #28a745 !important;
}

@media only screen and (max-width: 600px) {
}
